*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body{
    display: flex;
}

.left{
    max-width: 40%;
    max-height: 200%;
    overflow: hidden
}

img{
    min-height: 120%;
    min-width: 100%;
    max-width: 100%;
    max-height: 120%;
}


.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

P {
    margin-right: 11rem;
    font-size: 20px;
}

form{
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center
}

form div {
    gap: 2rem;
}

 input {
    box-sizing: border-box;
    margin: 8px 0;
    padding: 0.5rem;
    outline: none;
    border:  1px solid #E5E7EB;
    border-radius: 0.3rem;
}

input:focus{
    border:  1px solid blue;
    box-shadow: 1px 1px 8px #888888;

}

fieldset{
    border: none;
}

label {
    margin-right: 6rem;
}

fieldset .fields {
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset .form-left {
    display: flex;
    flex-flow: column;
}

fieldset .form-right {
    display: flex;
    flex-flow: column;
}

legend{
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.card {
    min-height: 18rem;
    margin-bottom: 2rem;
    padding: 2rem;
    width: 80%; 
}

.cardbox{
    box-shadow: 1px 1px 8px #888888;
    width: 100%; 
}



button {
    background-color: #596D48;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    color: white;
    margin-left: 2rem;
}

.button p {
    margin-top: 1rem;
    margin-left: 2rem;
}

.button a {
    color: #596D48;
    text-decoration: none;
}

